version: "3.7"

networks:
  report_bridge:
    driver: bridge
    ipam:
      config:
        - subnet: 169.254.6.0/24

services:
  app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    networks:
      report_bridge:
        ipv4_address: 169.254.6.2
    env_file:
      - .env    
    volumes:
      - ./:/app/
      - /app/report_calculation.egg-info/
    depends_on:
      - postgres
  
  postgres:
    image: postgres:10-alpine
    networks:
      report_bridge:
        ipv4_address: 169.254.6.3
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./pgsql/init.d:/docker-entrypoint-initdb.d